<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jerry.mini_mvc.example.dao.StudentDao">
	<resultMap id="StudentMap" type="Student">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="nickName" column="nick_name" />
	</resultMap>

	<select id="getStudentByName" resultMap="StudentMap"
		parameterType="String">
		select *
		from student
		where
		name = #{name}
	</select>
</mapper>